@{
    ViewBag.Title = "Contact Info";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(310) 421-8599</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:shvillalba@yahoo.com">shvillalba@yahoo.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:shvillalba@gmail.com">shvillalba@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p> 
  <i> ... ... .... ... . . yeah, right!!</i>
</section>