span.chrtCtrlLabel
{
  margin-left: 10px;
  margin-right: 5px;
  position: relative;
}

.middle
{
  position: relative;
}

input[type=radio].middle
{
  top: -3px;
}

input[type=text].span2.middle.wdth90
{
  top: 5px;
  height: 13px;
  width: 90px;
  text-align: center;
}

div.airtight
{
  display: inline-block;
  background-color: ghostwhite;
  border: solid gainsboro 1px;
}

  div.airtight > div
  {
    float: left;
    padding: 2px;
    text-align: center;
    margin: 2px;
  }

.btn-micro
{
  border-radius: 3px 3px 3px 3px;
  font-size: 16px;
  line-height: 10px;
  padding: 1px;
  position: relative;
  width: 14px;
}

.btn-micro:disabled {
  background-color: grey;
}

.gap20
{
  display: inline;
  width: 20px;
}

.table th, .table td
{
  text-align: center;
  line-height: 12px;
}

.table-striped tbody > tr:nth-child(2n+1) > td {
  background-color: #f4f4f4;
}
