 @Styles.Render("~/Content/learning") 
@{
  ViewBag.Title = "Learn";
}

<h2>Learn</h2>

@functions{
  // c# classes and methods can be defined here for use below.
}

@*@("".Dumpx())*@  @*for "LinqPad-like 'Dumps'. last one must be a "Dumpx"  *@

@section Scripts {
  @Scripts.Render("~/jsLearn")
}